.absolute-middle {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 75px;
  width: 100px;
  text-align: center;
}

.wider-absolute-middle {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 400px;
  text-align: center;
}
